*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050816;
color:white;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#08111f;
position:sticky;
top:0;
}

.logo h2{
color:#00d4ff;
}

nav a{
text-decoration:none;
color:white;
margin-left:20px;
font-weight:bold;
}

.hero{
min-height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(135deg,#050816,#0d2b63);
}

.hero h1{
font-size:45px;
margin-bottom:20px;
color:#00d4ff;
}

.hero p{
max-width:700px;
font-size:18px;
line-height:1.8;
margin-bottom:35px;
}

.hero-buttons{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.hero-buttons a{
text-decoration:none;
padding:15px 30px;
border-radius:50px;
background:#00d4ff;
color:#000;
font-weight:bold;
transition:.3s;
}

.hero-buttons a:hover{
background:white;
transform:scale(1.05);
}
